.home {
    background-color: var(--first-gradient);
    min-height: 100vh;
    display: grid;
    align-items: center;
}

.home__container {
    width: 100%;
}

.home__subtitle,
.home__job {
    font-weight: 700;
}

.home__subtitle,
.home__job span {
    font-size: var(--small-font-size);
}

.home__subtitle span,
.home__title span {
    color: var(--primary-color);
}

.home__job b {
    font-family: var(--second-font);
    font-size: var(--h2-font-size);
    margin-left: 10px;
}

.home__title {
    font-size: var(--biggest-font-size);
    text-shadow: 2px 2px hsl(0, 0%, 0%), -2px 2px hsl(0, 0%, 0%), 2px -2px hsl(0, 0%, 0%), -2px -2px hsl(0, 0%, 0%), 5px 5px 0 rgb(0 0 0 / 20%);
    line-height: 1.2;
    margin-top: 15px;
}

.home__text {
    font-size: var(--large-font-size);
    margin-block: 40px 28px;
    max-width: 520px;
}

.home__socials {
    display: flex;
    column-gap: 20px;
    margin-bottom: 30px;
}

.home__social-link {
    color: var(--title-color);
    font-size: var(--h2-font-size);
    transition: all 0.7s var(--transition);
}

.home__social-link:hover {
    color: var(--primary-color);
}

.home__btns {
    display: flex;
    column-gap: 70px;
}
