@import url('https://fonts.googleapis.com/css?family=Sofia');


:root {
  --primary-color: hsl(165, 60%, 40%);
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 95%);
  --bg-clor: hsl(215, 20%, 15%);
}
