@media screen and (max-width: 1400px) {
  .section__deco:not(.header__deco) {
    display: none;
  }

  .header {
    padding: 30px 12px;
  }

  .home__img-wrapper {
    max-width: 600px;
    transform: translateY(-6%);
  }

  .home__profile {
    height: auto;
  }

  .home__data {
    transform: scale(0.9);
  }

  .shape__1 {
    width: 200px;
    height: 200px;
  }

  .shape__2,
  .shape__3 {
    width: 125px;
    height: 125px;
  }
}
